.node {
  width: 30px;
  height: 30px;
  background-color: white;
  outline: 1px solid rgba(157, 214, 214, 0.75);
  display: inline-flex;
  cursor: pointer;
  user-select: none;
}

.node-start {
  background-color: green;
  cursor: pointer;
}

.node-end {
  background-color: red;
  cursor: pointer;
}

.node-visited {
  background-color: rgba(16, 186, 212, 0.75);
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  cursor: pointer;
}

.node-obstacle {
  background-color: rgb(20, 42, 75);
  cursor: pointer;
}

.node-shortest-path {
  background-color: rgb(219, 219, 26);
  animation-name: shortestPathAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  cursor: pointer;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(202, 255, 255, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgb(178, 238, 238);
  }

  100% {
    transform: scale(1);
    background-color: rgba(16, 186, 212, 0.75);
  }
}

@keyframes shortestPathAnimation {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
