.simple {
    position: absolute;
    z-index: 3;
    background-color: rgba(255, 255, 255, 1);
    width: 800px;
    height: 800px;
    border: 2px solid #34495e;
    border-radius: 4px;
    text-align: center;
    float: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    font-size: x-large;
    user-select: none;
  }
  
  .title {
    font-weight: bold;
  }
  
  .body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
  }
  
  .body img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  @media only screen and (max-width: 1200px) {
    .simple {
      width: 600px;
      height: 600px;
      font-size: large;
    }
  }
  @media only screen and (max-width: 600px) {
    .simple {
      width: 400px;
      height: 400px;
      font-size: medium;
    }
  }
  @media only screen and (max-width: 425px) {
    .simple {
      width: 300px;
      height: 400px;
      font-size: small;
    }
  }
  
  .header {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
  }
  
  .body {
    display: flex;
    width: 100%;
    height: 90%;
  }

  #exit {
      position: absolute;
      right: 2%;
      top: 2%;
      cursor: pointer;
  }
  
  #exit:hover {
      color: rgb(90, 88, 88);
  }
  
  
  
  
  