.tutorial {
  position: absolute;
  z-index: 3;
  background-color: rgba(255, 255, 255, 1);
  width: 50%;
  height: 80%;
  border: 2px solid #34495e;
  border-radius: 4px;
  text-align: center;
  float: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  font-size: 40px;
}

.welcome-image {
  height: 60%;
  width: 40%;
}

.small-image {
  height: 20%;
  width: 17%;
}

.tutorial-image {
  height: 40%;
  width: 35%;
}

.button-image {
  height: 65%;
  width: 80%;
}

.dropdown-image-speed {
  height: 50%;
  width: 32%;
}

.dropdown-image-algorithm {
  height: 32%;
  width: 27%;
}

.sub-title {
  display: block;
  text-align: center;
  font-family: inherit;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 5px 20px 50px 20px;
  width: 100%;
  height: 5%;
  font-size: 2vmin;
}

.paragraph {
  display: block;
  font-family: inherit;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 5px 20px 5px 20px;
  bottom: 10%;
  width: 100%;
  height: 50%;
  font-size: 2vmin;
}

.page {
  position: absolute;
  bottom: 2%;
  right: 50%;
  left: 50%;
  font-size: 2vmin;
}

.next {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  right: 2%;
  bottom: 2%;
  width: 10%;
  height: 5%;
  font-size: 2vmin;
}

.previous {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  right: 12%;
  bottom: 2%;
  width: 15%;
  height: 5%;
  font-size: 2vmin;
}

.skip {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  left: 2%;
  bottom: 2%;
  width: 10%;
  height: 5%;
  font-size: 2vmin;
}
