
.action-bar-container {
    height: 65px;
    width: 400px;
    background-color: rgb(52, 58, 65);
    opacity: .5;
    border-radius: 20px;
    margin: 50px auto;
    display: flex;
    overflow: hidden;
}

.action-bar-container div {
    width: 25%;
    height: 100%;
    border-right: thin solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
    color: rgb(168, 161, 161);
    font-size: small;
    
}

.action-bar-container div:hover {
    color: white;
}

.disable {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}
.disable:hover {
    color: rgb(168, 161, 161) !important;
    cursor: not-allowed !important;
}





